<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horoscope.app" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.horoscope.app.HoroscopeDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TranslucentActionBar"
            android:parentActivityName=".HoroscopeListActivity">

        </activity>
        <activity
            android:name="com.horoscope.app.HoroscopeListActivity"
            android:label="@string/title_activity_horoscope_list"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
